{% extends "base.html.twig" %}
{% block title %}Ma super Agence !{% endblock %}


{% block body %}
    <div class="jumbotron">
        <div class="container">
            <h1 class="text-center">Ma super agence</h1>
            <h2 class="text-center">L'agence qui vous obtiendra votre rêve !</h2>
        </div>
    </div>

    <div class="container">
        <div class="row">
            {% for property in properties %}
                {{ include('property/_property.html.twig') }}
            {% endfor %}
        </div>
    </div>
{% endblock %}


